.ManagerInBugBtn  {
	color: white;
	padding: 7px 25px;
	border: 0px;
	border-radius: 20px;
	background: #3C91E6;
}

.ManagerInBugBtn:hover {
	cursor: pointer;
}

.ManStatsFinishedBtn{
	color: white;
	padding: 7px 25px;
	border: 0px;
	border-radius: 20px;
	background: #3C91E6;
}
.ManStatsFinishedBtn:hover{
	cursor: pointer;
}