
.DEVprojectstatus {
	color: white;
	padding: 7px 25px;
	border: 0px;
	border-radius: 20px;
	background: #3C91E6;
}

.red-button-DEVprojectstatus {
background-color: red;
padding: 7px 25px;
border: 0px;
border-radius: 20px;
color: white;
}

.green-button-DEVprojectstatus {
background-color: green;
padding: 7px 25px;
border: 0px;
border-radius: 20px;
color: white;
}
  

.DEVprojectstatus:hover {
	cursor: pointer;
}

